/* apply a natural box layout model to all elements, but allowing components to change */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: 'curator_head';
  src: url("../fonts/curator_head_st_bold-webfont.woff2") format("woff2"), url("../fonts/curator_head_st_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'curator_head';
  src: url("../fonts/curator_head_st_regular-webfont.woff2") format("woff2"), url("../fonts/curator_head_st_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'curator_head', sans-serif;
  font-size: 16px;
  line-height: 1.3125;
  color: #333;
  padding: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

p {
  margin-top: 1em; }

h1 {
  font-size: 21px; }

.wrapper {
  max-width: 750px;
  margin: 0 auto; }
  @media (min-width: 450px) {
    .wrapper .text-content {
      width: 83%; } }

.legend .info {
  font-style: italic; }

.legend .cta {
  padding: 0;
  list-style: none;
  font-size: 13px; }
  .legend .cta .rice, .legend .cta .year {
    display: none; }
  .legend .cta li {
    display: inline-block;
    padding-left: 15px;
    position: relative; }
    .legend .cta li:not(.year):before {
      content: "";
      position: absolute;
      height: 2px;
      width: 10px;
      background: #333;
      left: 0;
      top: 50%;
      margin-top: -1px; }
    .legend .cta li.india:before {
      background: #fabe9c; }
    .legend .cta li.thailand:before {
      background: #f6ab9a; }
    .legend .cta li.vietnam:before {
      background: #fed47d; }
    .legend .cta li a {
      color: #ddd;
      text-decoration: none;
      font-weight: bold;
      -webkit-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s; }
      .legend .cta li a .rice {
        display: none; }
    .legend .cta li.active a {
      color: #333; }
    .legend .cta li.active .rice {
      display: none; }
  @media (min-width: 450px) {
    .legend .cta .year {
      display: block; }
    .legend .cta .rice:empty, .legend .cta .year:empty {
      display: none; }
    .legend .cta li.active .rice {
      display: block; } }

#line-chart h1, #line-chart p {
  margin: 0; }

#line-chart h1 {
  font-size: 16px; }

#line-chart p {
  font-size: 14px; }

@media (min-width: 450px) {
  .legend, #line-chart {
    float: left;
    position: relative; }
  .legend {
    width: 17%;
    left: 83%;
    padding-left: 10px; }
    .legend .cta li {
      display: block; }
  #line-chart {
    width: 83%;
    right: 17%; } }

.line {
  fill: none; }

.axis.axis--y .tick line {
  stroke: #ddd !important;
  shape-rendering: crispEdges; }

.chart {
  position: relative; }
  .chart::after {
    display: block;
    content: "";
    clear: both; }

#line-chart {
  position: relative;
  padding-bottom: 40%; }
  @media (min-width: 450px) {
    #line-chart {
      padding-bottom: 0; } }

#chart {
  width: 100%;
  height: 100%;
  position: absolute; }
  #chart .axis.axis--y .domain,
  #chart .axis.axis--x .domain {
    display: none; }
  @media (min-width: 450px) {
    #chart {
      height: 350px; } }

.scatterplot .point {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .scatterplot .point.active {
    opacity: 1; }
  .india .scatterplot .point {
    fill: #fabe9c; }
  .thailand .scatterplot .point {
    fill: #f6ab9a; }
  .vietnam .scatterplot .point {
    fill: #fed47d; }

#vertical-line {
  stroke: #ddd;
  stroke-width: 1;
  shape-rendering: crispEdges; }

.line.active {
  stroke-width: 4; }

.line-active .line:not(.active) {
  opacity: 0.5; }

.transition * {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
