
/* apply a natural box layout model to all elements, but allowing components to change */

$in: #fabe9c;
$th: #f6ab9a;
$vn: #fed47d;

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'curator_head';
  src: url('../fonts/curator_head_st_bold-webfont.woff2') format('woff2'),
       url('../fonts/curator_head_st_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'curator_head';
  src: url('../fonts/curator_head_st_regular-webfont.woff2') format('woff2'),
       url('../fonts/curator_head_st_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'curator_head', sans-serif;
  font-size: 16px;
  line-height: 1.3125;
  color: #333;
  padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
p {
  margin-top: 1em;
}
h1 {
  font-size: 21px;
}
.wrapper {
  max-width: 750px;
  margin: 0 auto;
  .text-content {
    width: 83%;
  }
}

.legend {
  .info {
    font-style: italic;
  }
  .cta {
    padding: 0;
    list-style: none;
    font-size: 13px;
    .rice, .year {
      display:none;
    }
    li {
      display: inline-block;
      padding-left: 15px;
      position: relative;
      &:not(.year):before {
        content: "";
        position: absolute;
        height: 2px;
        width: 10px;
        background: #333;
        left: 0;
        top:50%;
        margin-top: -1px;
      }
      &.india:before {
        background: $in;
      }
      &.thailand:before {
        background: $th;
      }
      &.vietnam:before {
        background: $vn;
      }
      a {
        color: #333;
        text-decoration: none;
        font-weight: bold;
      }
    }
    @media(min-width: 450px) {
      .rice, .year {
        display: block;
      }
      .rice:empty, .year:empty{
        display:none;
      }
    }
  }
}

#line-chart {
  h1, p {
    margin: 0;
  }
  h1{
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}

@media(min-width: 450px) {
  .legend, #line-chart {
    float: left;
    position: relative;
  }

  .legend {
    width: 17%;
    left: 83%;
    padding-left: 10px;
    .cta li {
      display: block;
    }
  }

  #line-chart {
    width: 83%;
    right: 17%;
  }
}

.line {
  fill: transparent;
}

.grid .tick line {
  stroke: #ddd!important;
  shape-rendering: crispEdges;

}

.chart {
  position: relative;
  @include clearfix();
}

#line-chart {
  position: relative;
  padding-bottom: 40%;
}

#chart {
  width: 100%;
  height: 100%;
  position: absolute;
}

.scatterplot .point{
  opacity: 0;
  transition: opacity 0.3s;
  &.active {
    opacity: 1;
  }
  .india & {
    fill: $in;
  }
  .thailand & {
    fill: $th;
  }
  .vietnam & {
    fill: $vn;
  }
}

#vertical-line {
  stroke: #ddd;
  stroke-width:1;
  shape-rendering: crispEdges;
}