
// color for country
$in: #fabe9c;
$th: #f6ab9a;
$vn: #fed47d;

// mixin for clearfix for float based element
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
// reusable style for tooltip and legend
@mixin chartlegend() {
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 10px;
    background: #333;
    left: 0;
    top:50%;
    margin-top: -1px;
  }
}

// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// embedding the font-face
@font-face {
  font-family: 'curator_head';
  src: url('../fonts/curator_head_st_bold-webfont.woff2') format('woff2'),
       url('../fonts/curator_head_st_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'curator_head';
  src: url('../fonts/curator_head_st_regular-webfont.woff2') format('woff2'),
       url('../fonts/curator_head_st_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// setting basic style
body {
  font-family: 'curator_head', sans-serif;
  font-size: 16px;
  line-height: 1.3125;
  color: #333;
  padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
p {
  margin-top: 1em;
}
h1 {
  font-size: 21px;
}

// setting area
.wrapper {
  max-width: 750px;
  margin: 0 auto;
  @media(min-width: 450px) {
    .text-content {
      width: 83%;
    }  
  }
}

// style for legend
.legend {
  .info {
    font-style: italic;
  }
  .cta {
    padding: 0;
    list-style: none;
    font-size: 13px;

    .rice, .year {
      display:none;
    }
    [data-cta] {
      &.transit {
        transition: transform 0.3s;  
      }
      + [data-cta] {
        margin-left: 10px;
      }
    }
    
    li {
      display: inline-block;
      padding-left: 15px;
      position: relative;
      &[data-cta]:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 10px;
        background: #333;
        left: 0;
        top:50%;
        margin-top: -1px;
      }
      &.india:before {
        background: $in;
      }
      &.thailand:before {
        background: $th;
      }
      &.vietnam:before {
        background: $vn;
      }
      a {
        color:#ddd;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
        .rice {
          display:none;
        }
      }

      &.active {
        a {
          color: #333;
        }
        .rice {
          display: none;
        }
      }
    }
    @media(min-width: 450px) {
      .year {
        display: block;
      }
      .rice:empty, .year:empty{
        display:none;
      }
      li.active .rice {
        display: block;
      }
      [data-cta] + [data-cta] {
        margin-left: 0;
      }
    }
  }
}

#line-chart {
  h1, p {
    margin: 0;
  }
  h1{
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}

@media(min-width: 450px) {
  .legend, #line-chart {
    float: left;
    position: relative;
  }

  .legend {
    width: 17%;
    left: 83%;
    padding-left: 10px;
    .cta li {
      display: block;
    }
  }

  #line-chart {
    width: 83%;
    right: 17%;
  }
}

// set line fill to none so it doesn't interfere with click event
.line {
  fill: none;
}

// sharp 1px line
.axis.axis--y .tick line {
  stroke: #ddd!important;
  shape-rendering: crispEdges;

}

// clearfix hack for float based layout
.chart {
  position: relative;
  @include clearfix();
}


.svg-chart-wrapper {
  position: relative;
  padding-bottom: 80%;
  @media(min-width: 450px){
    padding-bottom: 0;
    height: 350px;
  }
}

#chart {
  width: 100%;
  height: 100%;
  position: absolute;

  // removing domain line from view during yAxis transition
  .axis.axis--y .domain,
  .axis.axis--x .domain {
    display: none;
  }
  @media(min-width: 450px){
    // fixing a height on bigger screen 
    height: 350px;
  }
}

.scatterplot .point{
  opacity: 0;
  transition: opacity 0.3s;
  // dot shown when a node is active
  &.active {
    opacity: 1;
  }
  .india & {
    fill: $in;
  }
  .thailand & {
    fill: $th;
  }
  .vietnam & {
    fill: $vn;
  }
}

// for sharp vertical line
#vertical-line {
  stroke: #ddd;
  stroke-width:1;
  shape-rendering: crispEdges;
}

.line {
  // on focus bigger width
  &.active {
    stroke-width: 4;
  }

  // on focus other line will dim
  @at-root {
    .line-active .line:not(.active) {
      opacity: 0.5;
    }
  }
}

// transition for smooth animation on resize
.transition {
  * {
    transition: all 0.3s;
  }
}

// style related to tooltip
.svg-chart-wrapper {
  position: relative;
  &.details .tooltip{
    opacity: 1;
  }
  .tooltip {
    position: absolute;
    width: 48%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: 1px solid #333;
    background: #fff;
    z-index: 1;
    font-size: 13px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    .tt-year {
      font-weight: bold;
    }
    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
    }
    li {
      position: relative;
      display:flex;
      flex-wrap: wrap;
      @include chartlegend();
      &:before {
        top: 10px;
      }
      .tt-country {
        padding-left: 15px;
        font-weight: bold;
        
      }
      &.india:before {
        background: $in;
      }
      &.thailand:before {
        background: $th;
      }
      &.vietnam:before {
        background: $vn;
      }
      .tt-country, .val {
        flex: 1;
      }
      .val {
        text-align: right;
      }
    }
    @media(min-width: 450px) {
      display:none;
    }
  }
}

.hide {
  display:none!important;
}